rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function esAdmin() {
      return request.auth != null && request.auth.token.email == 'vallecondo@gmail.com';
    }

    function esUsuarioAuth() {
      return request.auth != null;
    }

    // Permitir lectura/escritura de dispositivos a usuarios autenticados
    match /dispositivos/{docId} {
      allow read, write: if esUsuarioAuth();
    }

    // Instituciones y subcolecciones
    match /institutions/{instId} {
      allow read: if true;
      allow write: if esUsuarioAuth();
      
      match /Aulas/{aulaId} {
        allow read: if true;
        allow write: if esUsuarioAuth();
      }
      
      match /{document=**} {
        allow read: if true;
        allow write: if esUsuarioAuth();
      }
    }

    // Regla por defecto para el resto
    match /{document=**} {
      allow read: if esUsuarioAuth();
      allow write: if esAdmin();
    }
  }
}
